{% extends 'core/base.html' %}

{% block title %}{{ lead.name }}{% endblock %}

{% block content %}
    <div class="py-4 px-4">
        <h1 class="mb-4 text-xl">{{ lead.name }}</h1>

        {% if lead.description %}
            <p class="font-semibold">Description</p>
            <p class="mb-2">{{ lead.description }}</p>
        {% endif %}

        <p class="font-semibold">Priority</p>
        <p class="mb-2">{{ lead.get_priority_display }}</p>

        <p class="font-semibold">Status</p>
        <p class="mb-2">{{ lead.get_status_display }}</p>

        <p class="font-semibold">Created at</p>
        <p class="mb-2">{{ lead.created_at|date:"d-m-Y H:i" }}</p>

        <p class="font-semibold">Modified at</p>
        <p class="mb-6">{{ lead.modified_at|date:"d-m-Y H:i" }}</p>


        <a href="{% url 'leads_list' %}" class="inline-block py-4 px-6 bg-teal-600 rounded-xl text-white">Back to leads</a>

        <a href="{% url 'leads_edit' lead.id %}" class="inline-block py-4 px-6 bg-yellow-600 rounded-xl text-white">Edit</a>

        <a href="{% url 'leads_convert' lead.id %}" class="inline-block py-4 px-6 bg-blue-600 rounded-xl text-white">Convert to client</a>

        <a href="{% url 'leads_delete' lead.id %}" class="inline-block py-4 px-6 bg-red-600 rounded-xl text-white">Delete</a>
    </div>
{% endblock %}