{% extends 'core/base.html' %}

{% block title %}{{ client.name }}{% endblock %}

{% block content %}
    <div class="py-4 px-4">
        <h1 class="mb-4 text-xl">{{ client.name }}</h1>

        {% if client.description %}
            <p class="font-semibold">Description</p>
            <p class="mb-2">{{ client.description }}</p>
        {% endif %}

        <p class="font-semibold">Created at</p>
        <p class="mb-2">{{ client.created_at|date:"d-m-Y H:i" }}</p>

        <p class="font-semibold">Modified at</p>
        <p class="mb-6">{{ client.modified_at|date:"d-m-Y H:i" }}</p>


        <a href="{% url 'clients_list' %}" class="inline-block py-4 px-6 bg-teal-600 rounded-xl text-white">Back to clients</a>

        <a href="#" class="inline-block py-4 px-6 bg-yellow-600 rounded-xl text-white">Edit</a>

        <a href="#" class="inline-block py-4 px-6 bg-red-600 rounded-xl text-white">Delete</a>
    </div>
{% endblock %}